@charset "UTF-8";
.welcome-container{
	height:100%;
	width:225px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	gap:7px;
	background-color:yellow;
}
.welcome__column{
	width:183px;
}
.welcome__column:first-child {
	display:flex;
}
.welcome__column-photo img{
	width:64px;
	height:64px;
	box-sizing: border-box;
	border-radius:50%;
	margin-right:10px;
}
.welcome__column-text{
    display: flex;
	flex-direction:column;
	justify-content:center;
	font-size:1.4rem;
}

.welcome__column-text span:nth-child(2){
    margin-top:4px;
    font-size:1rem;
    color:rgba(0,0,0,0.4);
}
.welcome__column-welcome{
	font-size:1.1rem;
}
.welcome__column:last-child {
	margin-top:10px;
}
.welcome__column-message{
	width:100%;	
}
.welcome__btns{
	width:80%;
}
.welcome__btns button{
  font-size: 0.8rem;
  width:40%;
} 
.welcome__btns button:nth-child(2) {
  margin-right: 10px;	
}