<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyon.oct062.student.StudentMapper">
	<insert id="regStudent" parameterType="com.hyon.oct062.student.Student">
	     insert into oct06_student values(
	          oct06_student_seq.nextval,#{s_name}, #{s_nickname})
	</insert>
	<select id="readAllStudents" resultType="com.hyon.oct062.student.Student">
		select * from oct06_student order by s_no	
	</select>
</mapper>