@charset "UTF-8";

@font-face {
	/* 웹 폰트 등록 : 
		CSS에 추가(IE에서는 안먹힘...)
		폰트파일에 있는 글자들 모양이 다 등록
			=> 용량이 커집니다...
				=> 느림...
	*/
	font-family: "Imsoso";
	src: url("Imsoso.ttf");
}

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Imsoso";
	/* html 기본여백 없애기 */
	/* 
		margin : 바깥쪽 여백
		padding : 안쪽 여백
	*/ 
	margin: 0px;
	padding: 0px;
}

#siteTitleArea {
	border-spacing: 0px; /* td들의 간격 */
	position: fixed;
	top: 0px;
	left: 0px; /* 좌표 조절 */
	width: 100%;
}

#siteMenuArea {
	background-color: #FFCCFF55;
	font-size: 30pt;
}

#siteMenuArea table {
	width: 100%;
}

#siteMenuArea td {
	width: 25%;
	text-align: center;
}

#siteMenuArea a {
	color: teal;
	font-weight: 500;
	text-decoration: none;
	/* 애니메이션 효과 */
	/* 속성명 시간 (ease-in, ease-out) */
	transition: all 0.5s ease-in;
}

#siteMenuArea a:hover {
	font-size: 40pt;
	text-shadow: yellow 0px 0px 10px;
	text-decoration: underline;
}

#siteMenuArea a:active {
	color: blue;
}

#siteTitle {
	background-color: #3399FF55;
	font-size: 30pt;
	color: black;
	text-shadow: teal 3px 5px 5px;
	width: 1000px;
}

#siteContentArea {
	width: 1000px;
	margin-left: auto;
	margin-right: auto; /* 가운데 정렬 */
	margin-top: 200px;
}

#maruVideo {
	box-shadow: black 5px 5px 10px;
	/* 사이즈를 조절하면 그림이 깨져서 안하는게 베스트 ! */
	/* 어쩔수 없다면
		큰 그림 => 줄이기 : OK !
		작은 그림 => 크게 늘리면... : 깨져서 나올수가 있음
	*/
	max-width: 30%;
	height: 500px;
}




















